</main>
<p class="footer">&COPY; <%= new Date().getFullYear() %> Aristos CMS - Powered by &nbsp;<a href="https://foxdesignagency.com/aristos" target="_blank">Aristos CMS</a> - version 0.2.0 </p>
 <!-- build:js(content/temp) /scripts/main.js -->
    <script src="/scripts/main.js"></script>
 <!-- endbuild -->
</body>
</html>