</main>
<p class="footer">&COPY; <%= new Date().getFullYear() %> Aristos CMS - version 0.3.0 - Node - Design by &nbsp;<a href="https://foxdesignagency.com" target="_blank">Fox Design Agency</a></p>
 <!-- build:js(content/temp) /scripts/main.js -->
    <script src="/scripts/main.js"></script>
 <!-- endbuild -->
</body>
</html>